.App {
  text-align: center;
}

.Integridade {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 30px;
  padding-top: 20px;
  background: rgb(0, 0, 0);
}

.preco {
  margin-top: 1rem;
}

.semCaminho {
  margin-top: 1.5rem;
  font-size: large;
}

.align-select {
  text-align: start;
}
